<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% assign scrawl = site.data.scrawl %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title == "Home" or page.title == "" or page.title == null %}
        {{ site.title }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    {% seo title=false %}

    <link rel="stylesheet" href="{{ '/assets/styles.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="{{ '/assets/scripts.js?v=' | append: site.github.build_revision | relative_url }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous" defer></script>
  </head>
  <body class="{{ include.width | default: page.width | default: site.page_width | default: 'fixed' }}">
    <div class="container">
