body {
  padding: 0 25px;
}

.container {
  margin: 0 auto;
}

header h1 {
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 8px;
}

header .description p {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

nav ul {
  font-size: 16px;
  line-height: 1.5;
}

nav ul li {
  padding: 2px 0 1px 0;
}

body.fluid, body.fixed {
  header {
    width: 270px;
    float: left;
    position: fixed;
    padding-bottom: 25px;
    overflow-y: auto;
    height: 100%;
  }

  header nav h2 {
    color: #888;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 14px;
  }

  nav div:first-child h2 {
    padding-top: 0;
  }
}

footer p:first-child {
  text-align: right;
  border-top: 1px solid #dbdddf;
  margin-top: 25px;
  padding-top: 15px;
}

.toc span {
  display: table-cell;
}

.toc span:first-child {
  padding-right: 0.5em;
}

.toc ol {
  list-style-type: none;
  padding-left: 0;
}

.toc ol ol {
  padding-left: 32px;
}

a.anchorjs-link:hover {
  text-decoration: none;
}

body.fluid {
  section {
    left: 295px;
    position: absolute;
    right: 0;
    padding: 25px 25px;
  }
}

body.fixed {
  .container {
    width: 1012px;
  }

  section {
    margin: 0 auto;
    width: 710px;
    float: right;
    padding: 25px 0;
  }
}

body.headerless {
  .container {
    max-width: 1012px;
  }

  header nav {
    display: none;
  }

  section {
    padding: 25px 0;
  }
}

body.headerless.sitemap header {
  nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
  }

  .description p {
    border-bottom: 1px solid #dbdddf;
  }

  h2 {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 2em;
  }

  .nav-category {
    padding: 5px;
    width: 250px;
    margin-top: 10px;
  }
}

@media all and (max-width: 1060px) {
  body.fluid, body.fixed {
    header {
      border-bottom: 1px solid #dbdddf;
    }

    .container {
      width: auto;
    }

    header, section {
      float: none;
      position: static;
      width: auto;
    }

    section {
      padding: 25px 0;
    }
  }
}
