body {
  padding: 0 25px;
}

.container {
  margin: 0 auto;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  height: 100%;
}

header h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

header p {
  margin-bottom: 20px;
}

nav ul {
  font-size: 16px;
  line-height: 1.5;
}

nav ul li {
  padding: 2px 0;
}

header nav h2 {
  font-style: normal;
  font-weight: bold;
  color: #888;
  padding-top: 15px;
  padding-bottom: 4px;
  font-size: 14px;
}

nav div:first-child h2 {
  padding-top: 0;
}

footer p:first-child {
  text-align: right;
  border-top: 1px solid #dbdddf;
  margin-top: 25px;
  padding-top: 15px;
}

.toc span {
  display: table-cell;
}

.toc span:first-child {
  padding-right: 0.5em;
}

.toc ol {
  list-style-type: none;
  padding-left: 0;
}

.toc ol ol {
  padding-left: 32px;
}

a.anchorjs-link:hover {
  text-decoration: none;
}

.sitemap {
  nav {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    flex-flow: row wrap;
  }

  h2 {
    border: 0;
    padding: 0;
    margin-top: 0;
  }

  .nav-category {
    padding: 5px;
    width: 230px;
    margin-top: 10px;
  }
}

body.fluid {
  section {
    left: 295px;
    position: absolute;
    right: 0;
    padding: 25px 25px;
  }
}

body.fixed {
  .container {
    width: 1012px;
  }

  section {
    margin: 0 auto;
    width: 710px;
    float: right;
    padding: 25px 0;
  }
}

@media all and (max-width: 960px) {
  body.fluid, body.fixed {
    header {
      border-bottom: 1px solid #dbdddf;
    }

    .container {
      width: auto;
    }

    header, section {
      float: none;
      position: static;
      width: auto;
      padding: 25px 0;
    }
  }
}
