body {
  padding: 0 25px;
}

.container {
  margin: 0 auto;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  height: 100%;
}

header h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

header p {
  margin-bottom: 20px;
}

header ul {
  font-size: 16px;
  line-height: 1.5;
}

header ul li {
  padding: 3px 0;
}

footer {
  text-align: right;
}

body.fluid {
  section {
    left: 295px;
    position: absolute;
    right: 0;
    padding: 25px 25px;
  }
}

body.fixed {
  .container {
    width: 1012px;
  }

  section {
    margin: 0 auto;
    width: 710px;
    float: right;
    padding: 25px 0;
  }
}

@media all and (max-width: 960px) {
  body.fluid, body.fixed {
    header {
      border-bottom: 1px solid #dbdddf;
    }

    .container {
      width: auto;
    }

    header, section {
      float: none;
      position: static;
      width: auto;
      padding: 25px 0;
    }
  }
}
