---
layout: base
---

{% if page.title and page.title != '' %}
  {{ '# ' | append: page.title | markdownify }}
{% endif %}

{% if page.summary and page.summary != '' %}
  {{ page.summary | markdownify }}
{% endif %}

{% comment %}
This conditional is the same as
```
page.toc != false and (page.toc or site.page_toc != false)
```
{% endcomment %}
{% if page.toc != false and page.toc or site.page_toc != false %}
  <toc data-selector="{{ page.toc_selector | default: site.toc_selector | default: 'h2[id], h3[id], h4[id]' }}"></toc>
{% endif %}

{{ content }}
