<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body class="{{ page.width | default: site.default_width | default: 'fixed' }}">

    <div class="container">
      <header>
        {% if site.title and site.title != page.title %}
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        {% endif %}

        {% if site.description  %}
          <p><small>{{ site.description }}</small></p>
        {% endif %}

        {% if site.pages %}
          {% if page.nav_pages %}
            {% assign docs = page.nav_pages %}
          {% else %}
            {% assign docs = site.pages %}
          {% endif %}
          {% assign docs = docs | sort: 'order' %}
          <ul>
            {% for doc in docs %}
              {% if doc.hide_in_nav != true and doc.title %}
                <li><a href="{{ doc.url | absolute_url }}">{{ doc.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </header>

      <section class="markdown-body">
        {{ content }}

        <footer>
          {% if site.github.private != true and site.github.license %}
          <p>
            This site is open source. {% github_edit_link "Improve this page" %}.
          </p>
          {% endif %}
        </footer>
      </section>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
